{% extends "base.html" %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            Curso de {{ curso }}
            {% for produto in produtos %}
                <tr>
                    <td><a href="{% url 'produto' produto.id %}">{{produto.produto}}</a></td>
                    <td>{{ produto.preco }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}